absl-py==1.4.0
accelerate==0.22.0
aiofiles==23.2.1
aiohttp==3.8.5
aiosignal==1.3.1
alabaster==0.7.12
altair==5.0.1
annotated-types==0.5.0
antlr4-python3-runtime==4.9.3
anyio==3.7.1
apex==0.1
appdirs==1.4.4
argcomplete==3.1.1
argon2-cffi==20.1.0
array-record==0.4.0
ascii-graph==1.5.1
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.3
attrs==20.3.0
audioread==2.1.9
Babel==2.9.1
backcall==0.2.0
beautifulsoup4==4.9.3
bitsandbytes==0.41.1
bleach==3.3.0
blessed==1.20.0
BLEURT==0.0.2
blis==0.7.10
boto==2.49.0
boto3==1.17.60
botocore==1.20.60
brotlipy==0.7.0
cachetools==5.3.1
catalogue==2.0.9
certifi==2020.12.5
cffi==1.14.3
chardet==3.0.4
charset-normalizer==3.2.0
click==7.1.2
cmake==3.27.2
codecov==2.1.11
colorama==0.4.6
coloredlogs==15.0.1
conda==4.10.1
conda-build==3.21.4
conda-package-handling==1.7.2
confection==0.1.1
coverage==5.5
cpm-kernels==1.0.11
crcmod==1.7
cryptography==3.2.1
cxxfilt==0.2.2
cycler==0.10.0
cymem==2.0.5
Cython==3.0.2
DataProperty==0.50.1
datasets==2.14.4
decorator==5.0.6
deepspeed==0.10.1
defusedxml==0.7.1
dill==0.3.7
DLLogger==0.1.0
dm-tree==0.1.8
docutils==0.16
dpr==1.0.0
editdistance==0.6.2
en-core-web-sm==3.6.0
entrypoints==0.3
etils==1.3.0
evaluate==0.4.0
exceptiongroup==1.1.3
fairscale==0.4.13
faiss-cpu==1.7.4
fastapi==0.101.1
fasteners==0.18
ffmpy==0.3.1
filelock==3.0.12
fire==0.5.0
flake8==3.7.9
Flask==1.1.2
flatbuffers==1.12
frozendict==2.3.8
frozenlist==1.4.0
fsspec==2023.6.0
future==0.18.2
gast==0.4.0
gcs-oauth2-boto-plugin==3.0
gin-config==0.5.0
glob2==0.7
google-api-core==2.11.1
google-api-python-client==2.97.0
google-apitools==0.5.32
google-auth==2.22.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
google-reauth==0.1.1
googleapis-common-protos==1.60.0
gpustat==1.1.1
gradio==3.41.1
gradio-client==0.5.0
graphsurgeon==0.4.5
grpcio==1.37.0
gsutil==5.25
h11==0.14.0
h5py==3.2.1
hjson==3.1.0
html2text==2020.1.16
httpcore==0.17.3
httplib2==0.20.4
httpx==0.24.1
huggingface-hub==0.16.4
humanfriendly==10.0
hydra-core==1.3.2
hypothesis==4.50.8
idna==2.10
imageio==2.9.0
imagesize==1.2.0
immutabledict==3.0.0
importlib-metadata==3.10.0
importlib-resources==6.0.1
inflect==5.3.0
iniconfig==1.1.1
ipdb==0.13.7
ipykernel==5.5.3
ipython==7.22.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.17.0
jieba==0.42.1
Jinja2==2.11.3
jmespath==0.10.0
joblib==1.3.2
json5==0.9.5
jsonlines==3.1.0
jsonschema==3.0.2
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyter-tensorboard==0.2.0
jupyterlab==2.3.1
jupyterlab-pygments==0.1.2
jupyterlab-server==1.2.0
jupytext==1.11.1
kaggle==1.5.16
keras==2.9.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
kmeans-pytorch==0.3
langcodes==3.3.0
Levenshtein==0.21.1
libarchive-c==2.9
libclang==16.0.6
librosa==0.8.0
lightgbm==4.0.0
lit==16.0.6
llvmlite==0.35.0
lmdb==1.2.1
lxml==4.9.3
Mako==1.1.4
Markdown==3.3.4
markdown-it-py==0.6.2
MarkupSafe==2.0.1
maskrcnn-benchmark==0.1
matplotlib==3.4.1
mbstrdecoder==1.0.1
mccabe==0.6.1
mdit-py-plugins==0.2.6
mesh-tensorflow==0.1.21
mistune==0.8.4
mlperf-compliance==0.0.10
mock==4.0.3
monotonic==1.6
mpmath==1.3.0
msgfy==0.1.0
multidict==6.0.4
multiprocess==0.70.15
murmurhash==1.0.5
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.0
ninja==1.11.1
nltk==3.6.2
nmslib==2.1.1
notebook==6.2.0
numba==0.52.0
numpy==1.23.0
numpyencoder==0.3.0
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-dali-cuda110==1.0.0
nvidia-dlprof-pytorch-nvtx==1.1.0
nvidia-ml-py==12.535.77
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
nvidia-pyprof==3.10.0
nvidia-tensorboard==1.15.0+nv21.4
nvidia-tensorboard-plugin-dlprof==1.2.0
oauth2client==4.1.3
oauthlib==3.2.2
omegaconf==2.3.0
onnx==1.8.0
onnxruntime==1.15.1
openai==0.27.4
opencv-python-headless==4.8.0.76
opt-einsum==3.3.0
orjson==3.9.5
packaging==20.9
pandas==2.0.3
pandocfilters==1.4.3
parso==0.8.2
pathvalidate==2.4.1
pathy==0.10.2
peft==0.5.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
Pillow-SIMD==7.0.0.post3
pip==20.2.4
pkginfo==1.7.0
plac==1.1.0
pluggy==0.13.1
polygraphy==0.29.1
pooch==1.3.0
portalocker==2.8.2
preshed==3.0.2
prettytable==2.1.0
progressbar==2.5
prometheus-client==0.10.1
promise==2.3
prompt-toolkit==3.0.17
protobuf==3.20.3
psutil==5.8.0
ptyprocess==0.7.0
py==1.10.0
py-cpuinfo==9.0.0
pyarrow==13.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybind11==2.6.1
pycocotools==2.0+nv0.5.1
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.20
pycuda==2020.1
pydantic==1.10.12
pydantic-core==2.6.3
pydot==1.4.2
pydub==0.25.1
pyflakes==2.1.1
Pygments==2.8.1
pyjnius==1.5.0
pynndescent==0.5.10
pynvml==11.5.0
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyrsistent==0.17.3
pyserini==0.21.0
PySocks==1.7.1
pytablewriter==0.47.0
pytest==6.2.3
pytest-cov==2.11.1
pytest-pythonpath==0.7.3
python-dateutil==2.8.2
python-hostlist==1.21
python-multipart==0.0.6
python-nvd3==0.15.0
python-slugify==4.0.1
pytools==2021.2.6
pytorch-quantization==2.1.0
pytorch-transformers==1.1.0
pytz==2021.1
pyu2f==0.1.5
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==22.0.3
rapidfuzz==3.2.0
regex==2021.4.4
requests==2.24.0
requests-oauthlib==1.3.1
resampy==0.2.2
responses==0.18.0
retry-decorator==1.1.1
revtok==0.0.3
rouge-chinese==1.0.3
rouge-score==0.1.2
rsa==4.7.2
ruamel-yaml==0.15.87
s3transfer==0.4.2
sacrebleu==2.3.1
sacremoses==0.0.35
safetensors==0.3.2
scikit-image==0.15.0
scikit-learn==1.3.0
scipy==1.6.2
semantic-version==2.10.0
Send2Trash==1.5.0
sentence-transformers==2.2.2
sentencepiece==0.1.95
seqeval==1.2.2
setuptools==50.3.1.post20201107
six==1.15.0
smart-open==6.3.0
sniffio==1.3.0
snowballstemmer==2.1.0
SoundFile==0.10.3.post1
soupsieve==2.2.1
sox==1.4.1
spacy==3.6.1
spacy-legacy==3.0.12
spacy-loggers==1.0.4
Sphinx==3.5.4
sphinx-glpi-theme==0.3
sphinx-rtd-theme==0.5.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
srsly==2.4.7
starlette==0.27.0
subword-nmt==0.3.3
sympy==1.12
t5==0.7.1
tabledata==1.1.3
tabulate==0.8.9
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-addons==0.21.0
tensorflow-datasets==4.9.2
tensorflow-estimator==2.9.0
tensorflow-hub==0.14.0
tensorflow-io-gcs-filesystem==0.33.0
tensorflow-metadata==1.14.0
tensorflow-model-optimization==0.7.5
tensorflow-text==2.9.0
tensorrt==7.2.3.4
termcolor==2.3.0
terminado==0.9.4
testpath==0.4.4
text-unidecode==1.3
tf-models-official==2.9.1
tf-slim==1.1.0
tfds-nightly==4.9.2.dev202308090034
thinc==8.1.12
threadpoolctl==2.1.0
tokenizers==0.13.3
toml==0.10.2
toolz==0.12.0
torch==2.0.1
torchaudio==0.12.0+cu113
torchtext==0.10.0a0
torchvision==0.15.2
tornado==6.1
tqdm==4.66.1
traitlets==5.0.5
transformers==4.31.0
triton==2.0.0
truthfulqa==0.0.1
typeguard==2.13.3
typepy==1.1.5
typer==0.9.0
typing==3.7.4.3
typing-extensions==4.7.1
tzdata==2023.3
uff==0.6.9
umap-learn==0.5.3
Unidecode==1.2.0
uritemplate==4.1.1
urllib3==1.25.11
uvicorn==0.23.2
wasabi==1.1.2
wcwidth==0.2.5
webencodings==0.5.1
websockets==11.0.3
Werkzeug==1.0.1
wget==3.2
wheel==0.35.1
wrapt==1.15.0
xlrd==2.0.1
xxhash==3.3.0
yacs==0.1.8
yarl==1.9.2
zipp==3.4.1
